#################
# Files
#################
*.class
*.classpath
*.project
*.settings
*.springBeans
#################
# Directories
#################
target/
bin/
.idea/libraries/
.idea/workspace.xml
.idea/
FitnessTracker.iml
